<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff List</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/dashboard}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{/api/staff/list}">Staff</a></li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <h5 class="card-title float-start">Staff List</h5>
                    <h5 class="card-title float-end"><a th:href="@{/api/staff/add}" class="text-dark"><i
                            class="fa-solid fa-plus fa-lg me-2"></i>Add new staff</a></h5>
                </div>
                <div class="clearfix mb-3">
                    <div class="float-end mb-2">
                        <label for="pageSize" class="form-label mt-1">Entries per page:&nbsp;&nbsp;</label>
                        <select name="pageSize" th:value="${pageSize}"
                                class="form-select w-auto float-end" id="pageSize">
                            <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}"
                                    th:selected="${s == pageSize}"></option>
                        </select>
                    </div>
                    <div class="float-start input-group" style="width: 300px">
                        <input id="keyword" type="text" name="keyword" th:value="${keyword}" class="form-control"
                               placeholder="&#128269; Filter Search">
                        <button type="button" id="btn-filter-search" class="btn"
                                style="background:#49b7bf; color:white;">Search
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <caption th:unless="${staffList.isEmpty()}">Showing [[${pageSize * (currentPage - 1) + 1}]] to
                            [[${pageSize * (currentPage - 1) +
                            pageSize}]] of Total [[${totalItems}]] Entries
                        </caption>
                        <thead>
                        <tr class="table-dark">
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="staff, state : ${staffList}">
                            <td th:text="${staff.id}" hidden></td>
                            <td th:text="${pageSize * (currentPage - 1) + state.index + 1}"></td>
                            <td th:text="${staff.name}"></td>
                            <td th:text="${staff.username}"></td>
                            <td th:text="${staff.email}"></td>
                            <td th:text="${staff.phone}"></td>
                            <td th:text="${staff.role.name}"></td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input status" type="checkbox" role="switch"
                                           th:checked="${staff.activeStatus}">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4 class="card-title text-danger text-center" th:if="${staffList.isEmpty()}">No record found!</h4>
                <div th:replace="~{fragments/paging :: staffPagination}" th:unless="${staffList.isEmpty()}"></div>
            </div>
        </div>
    </section>
</main>
<script th:inline="javascript">
    $(document).ready(function() {

    <!-- Make Nav Item Active -->
        $("#sidebar-nav").children("li:nth-child(2)").children("a").removeClass("collapsed");
        $("#settings-nav").addClass("show");
        $("#settings-nav").children("li:nth-child(6)").children("a").addClass("active");
    <!-- End -->

    <!-- Alert Boxes -->
        if([[${staff_not_found}]]) {
            iziToast.error({
                color: 'red',
                title: 'Failed!',
                message: 'This staff is not found!',
                position: 'topCenter'
            });
        }

        if([[${active_status_success}]]) {
            iziToast.success({
                message: 'This staff is active now!',
                position: 'topCenter'
            });
        }

        if([[${inactive_status_success}]]) {
            iziToast.warning({
                message: 'This staff is inactive now!',
                position: 'topCenter'
            });
        }
    <!-- End -->

    <!-- When page size select box is changed -->
        $("#pageSize").change(function() {
            var keyword = $("#keyword").val();
            var pageSize = $(this).val();
            window.location = "/api/staff/list?keyword=" + keyword + "&pageSize=" + pageSize;
        });
    <!-- End -->

    <!-- When search button from filter search box is clicked -->
        $("#btn-filter-search").on("click", function() {
            var keyword = $("#keyword").val();
            var pageSize = $("#pageSize option:selected").val();
            window.location = "/api/staff/list?keyword=" + keyword + "&pageSize=" + pageSize;
        });
    <!-- End -->

    <!-- When status button is clicked -->
          $(document).delegate(".status", "change", function() {
              var parent = $(this).parent().parent().parent();
              var id = parent.children("td:nth-child(1)").html();

              if($(this).is(':checked')) {
                  window.location = "/api/staff/status/1/" + id;
              }
              else {
                  window.location = "/api/staff/status/0/" + id;
              }
          });
      <!-- End -->

    <!-- When reset button is clicked -->
        $("#btn-reset").on("click", function() {
            var pageSize = $("#pageSize").val();
            pageSize = pageSize == undefined ? 5 : pageSize;
            window.location = "/api/staff/list?pageSize=" + pageSize;
        });
    <!-- End -->

    });
</script>
</body>
</html>