<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff Account Registration Form</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/dashboard}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{/api/staff/list}">Staff</a></li>
                <li class="breadcrumb-item"><a th:href="@{/api/staff/add}">Add</a></li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Staff Account Registration Form</h5>
                <form th:object="${staff}" th:action="@{/api/staff/add}" id="submitForm" method="POST">
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="name" class="form-label">Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="name" th:field="*{name}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="email" class="form-label">Email<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="email" th:field="*{email}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="phone" class="form-label">Phone<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="phone" th:field="*{phone}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('phone')}"
                                  th:errors="*{phone}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="username" class="form-label">Username<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="username" th:field="*{username}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
                                  th:errors="*{username}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="password" class="form-label">Password<span class="text-danger"> *</span><i
                                    class="fa fa-random ms-2" style="cursor: pointer; color: blue"
                                    id="random"></i></label>
                            <input type="text" class="form-control" id="password" th:field="*{password}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="confirmPassword" class="form-label">Confirm Password<span
                                    class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('confirmPassword')}"
                                  th:errors="*{confirmPassword}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-add" style="background:#49b7bf; color:white;">Add
                            </button>
                            <a th:href="@{/api/staff/add}" class="btn"
                               style="background:#f56e70; color:white;">Reset</a>
                            <a th:href="@{'/api/staff/list?keyword=' + ${#ctx.session.keyword} + '&pageNum=' + ${#ctx.session.pageNum} + '&pageSize=' + ${#ctx.session.pageSize}}"
                               class="btn" style="background:orange; color:white;">Back</a>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script th:inline="javascript">
    $(document).ready(function() {

    <!-- Make Nav Item Active -->
        $("#sidebar-nav").children("li:nth-child(2)").children("a").removeClass("collapsed");
        $("#settings-nav").addClass("show");
        $("#settings-nav").children("li:nth-child(6)").children("a").addClass("active");
    <!-- End -->

    <!-- Alert Boxes -->
        if([[${added_success}]]) {
            iziToast.success({
                title: 'Done',
                message: 'Successfully Added!',
                position: 'topCenter'
            });
        }

        if([[${staff_not_found}]]) {
            iziToast.error({
                color: 'red',
                title: 'Failed!',
                message: 'This staff is not found!',
                position: 'topCenter'
            });
        }
    <!-- End -->

    <!-- Generate Random Password -->
        $("#random").click(function() {
            $("#password").val(Math.random().toString(36).slice(-8));
            //$("#password").blur();
        });
    <!-- End -->

    <!-- When add button is clicked -->
        $(".btn-add").click(function(event) {
            event.preventDefault();

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to add?',
                type: 'green',
                autoClose: 'no|10000',
                buttons: {
                    yes: {
                        btnClass: 'btn-success',
                        action: function () {
                            $("#submitForm").submit();
                        }
                    },
                    no: function () {}
                }
            });
        });
    <!-- End -->

    });
</script>
</body>
</html>