<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Edit Form</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{/api/company/list}">Company</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/api/company/edit/' + ${company.id}}">Edit</a></li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Company Edit Form</h5>
                <form th:object="${company}" th:action="@{/api/company/edit}" id="submitForm" method="POST">
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <input type="hidden" th:value="*{id}" th:field="*{id}">
                            <input type="hidden" th:value="*{activeStatus}" th:field="*{activeStatus}">
                            <label for="cityName" class="form-label">City<span class="text-danger"> *</span></label>
                            <select class="form-select" id="cityName" th:field="*{cityId}">
                                <option value="-1" selected>Choose</option>
                                <option th:each="c : ${cityList}" th:text="${c.name}" th:value="${c.id}"></option>
                            </select>
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('cityId')}"
                                  th:errors="*{cityId}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="townshipName" class="form-label">Township<span class="text-danger"> *</span></label>
                            <select class="form-select" id="townshipName" th:field="*{townshipId}">
                                <option value="-1" selected>Choose</option>
                                <option th:each="t : ${townshipList}" th:text="${t.name}" th:value="${t.id}"></option>
                            </select>
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('townshipId')}"
                                  th:errors="*{townshipId}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="industrialZoneName" class="form-label">Industrial Zone<span class="text-danger"> *</span></label>
                            <select class="form-select" id="industrialZoneName" th:field="*{industrialZoneId}">
                                <option value="-1" selected>Choose</option>
                                <option th:each="i : ${industrialZoneList}" th:text="${i.name}" th:value="${i.id}"></option>
                            </select>
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('industrialZoneId')}"
                                  th:errors="*{industrialZoneId}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="companyName" class="form-label">Company Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="companyName" th:field="*{name}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-update" style="background:#49b7bf; color:white;">Update
                            </button>
                            <a th:href="@{'/api/company/edit/' + ${company.id}}" class="btn"
                               style="background:#f56e70; color:white;">Reset</a>
                            <a th:href="@{'/api/company/list?cityName=' + ${#ctx.session.cityName} + '&townshipName=' + ${#ctx.session.townshipName} + '&industrialZoneName=' + ${#ctx.session.industrialZoneName} + '&keyword=' + ${#ctx.session.keyword} + '&pageNum=' + ${#ctx.session.pageNum} + '&pageSize=' + ${#ctx.session.pageSize}}" class="btn" style="background:orange; color:white;">Back</a>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script th:inline="javascript">
    $(document).ready(function() {

    <!-- Make Nav Item Active -->
        $("#sidebar-nav").children("li:nth-child(2)").children("a").removeClass("collapsed");
        $("#settings-nav").addClass("show");
        $("#settings-nav").children("li:nth-child(4)").children("a").addClass("active");
    <!-- End -->

    <!-- Search Boxes in Select Dropdown -->
        var cityName = document.querySelector("#cityName");
        var townshipName = document.querySelector("#townshipName");
        var industrialZoneName = document.querySelector("#industrialZoneName");
        dselect(cityName, {search: true});
        dselect(townshipName, {search: true});
        dselect(industrialZoneName, {search: true});
    <!-- End -->

    <!-- Alert Boxes -->
        if([[${company_not_found}]]) {
            iziToast.error({
                color: 'red',
                title: 'Failed!',
                message: 'This company is not found!',
                position: 'topCenter'
            });
        }
    <!-- End -->

    <!-- When city select box is changed -->
        $("#cityName").change(function() {
            var cityId = $("#cityName option:selected").val();

            $.ajax({
                url: "/api/township/cityId",
                type: "POST",
                data: {
                    "cityId" : cityId
                },
                success: function(data) {
                    $("#townshipName option[value!=-1]").remove();
                    $("#industrialZoneName option[value!=-1]").remove();
                    for(var i = 0; i < data.length; i++) {
                        $("#townshipName").append(`<option value="${data[i].id}">${data[i].name}</option>`);
                    }
                    dselect(townshipName, {search: true});
                    dselect(industrialZoneName, {search: true});
                }
            });
        });
    <!-- End -->

    <!-- When township select box is changed -->
        $("#townshipName").change(function() {
            var townshipId = $("#townshipName option:selected").val();

            $.ajax({
                url: "/api/industrialZone/townshipId",
                type: "POST",
                data: {
                    "townshipId" : townshipId
                },
                success: function(data) {
                    $("#industrialZoneName option[value!=-1]").remove();
                    for(var i = 0; i < data.length; i++) {
                        $("#industrialZoneName").append(`<option value="${data[i].id}">${data[i].name}</option>`);
                    }
                    dselect(industrialZoneName, {search: true});
                }
            });
        });
    <!-- End -->

    <!-- When update button is clicked -->
        $(".btn-update").click(function() {
            event.preventDefault();

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to update?',
                type: 'blue',
                autoClose: 'no|10000',
                buttons: {
                    yes: {
                        btnClass: 'btn-info text-white',
                        action: function () {
                            $("#submitForm").submit();
                        }
                    },
                    no: function () {}
                }
            });
        });
    <!-- End -->

    });
</script>
</body>
</html>