<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/dashboard}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{/profile/changePassword}">Password Change</a></li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Password Change</h5>
                <form th:object="${changePasswordModel}" th:action="@{/profile/changePassword}" id="submitForm" method="POST">
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="oldPassword" class="form-label">Old Password<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="oldPassword" th:value="*{oldPassword}" th:field="*{oldPassword}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('oldPassword')}"
                                  th:errors="*{oldPassword}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label for="newPassword" class="form-label">New Password<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="newPassword" th:value="*{newPassword}" th:field="*{newPassword}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}"
                                  th:errors="*{newPassword}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="d-grid gap-2 d-flex justify-content-end">
                                <button type="submit" class="btn btn-update" style="background:#49b7bf; color:white;">Update
                                </button>
                                <a th:href="@{/profile/changePassword}" class="btn"
                                   style="background:#f56e70; color:white;">Reset</a>
                                <a th:href="@{/dashboard}" class="btn" style="background:orange; color:white;">Back</a>
                            </div>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script th:inline="javascript">
    $(document).ready(function() {

    <!-- When update button is clicked -->
        $(".btn-update").click(function(event) {
            event.preventDefault();

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to change?',
                type: 'blue',
                autoClose: 'no|10000',
                buttons: {
                    yes: {
                        btnClass: 'btn-info text-white',
                        action: function () {
                            $("#submitForm").submit();
                        }
                    },
                    no: function () {}
                }
            });
        });
    <!-- End -->

    });
</script>
</body>
</html>