<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="header">
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a th:href="@{/dashboard}" class="logo d-flex align-items-center">
                    <img th:src="@{/img/icon1.png}" alt="">
                    <span class="d-none d-lg-block">VLCA</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div>
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img th:src="@{/img/profile-img1.jpg}" alt="Profile" class="rounded-circle">
                        </a>
                        <ul	class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
<!--                                <h6 th:text="${#authentication.principal.username}"></h6>-->
                                <h6 sec:authentication="name"></h6>
                                <h6 sec:authentication="principal.authorities"></h6>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/profile}">
                                    <i class="fa-solid fa-user"></i>
                                    <span class="ms-2">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/profile/changePassword}">
                                    <i class="fa-solid fa-key"></i>
                                    <span class="ms-2">Change Password</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                                    <i class="fa-solid fa-arrow-right"></i>
                                    <span class="ms-2">Sign Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/dashboard}">
                        <i class="bi bi-grid mb-1"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-gear mb-1"></i>
                        <span>General Settings</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li><a th:href="@{/api/city/list}"><i class="bi bi-circle mt-1"></i><span>City</span></a></li>
                        <li><a th:href="@{/api/township/list}"><i class="bi bi-circle mt-1"></i><span>Township</span></a></li>
                        <li><a th:href="@{/api/industrialZone/list}"><i class="bi bi-circle mt-1"></i><span>Industrial Zone</span></a></li>
                        <li><a th:href="@{/api/company/list}"><i class="bi bi-circle mt-1"></i><span>Company</span></a></li>
                        <li><a th:href="@{/api/complaintTitle/list}"><i class="bi bi-circle mt-1"></i><span>Complaint Title</span></a></li>
                        <li><a th:href="@{/api/staff/list}"><i class="bi bi-circle mt-1"></i><span>Staff</span></a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'STAFF')">
                    <a class="nav-link collapsed" data-bs-target="#status-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse mb-1"></i>
                        <span>Complaint List</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="status-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li><a th:href="@{/api/complaint/list/all}"><i class="bi bi-circle"></i><span>All</span></a></li>
                        <li><a th:href="@{/api/complaint/list/trash}"><i class="bi bi-circle"></i><span>Trash</span></a></li>
                        <li><hr class="m-0"></li>
                        <li><a th:href="@{/api/complaint/list/read}"><i class="bi bi-circle"></i><span>Read</span></a></li>
                        <li><a th:href="@{/api/complaint/list/unread}"><i class="bi bi-circle"></i><span>Unread</span></a></li>
                        <li><hr class="m-0"></li>
                        <li><a th:href="@{/api/complaint/list/accepted}"><i class="bi bi-circle"></i><span>Accepted</span></a></li>
                        <li><a th:href="@{/api/complaint/list/rejected}"><i class="bi bi-circle"></i><span>Rejected</span></a></li>
                        <li><a th:href="@{/api/complaint/list/pending}"><i class="bi bi-circle"></i><span>Pending</span></a></li>
                        <li><hr class="m-0"></li>
                        <li><a th:href="@{/api/complaint/list/solved}"><i class="bi bi-circle"></i><span>Solved</span></a></li>
                        <li><a th:href="@{/api/complaint/list/unsolved}"><i class="bi bi-circle"></i><span>Unsolved</span></a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>
</body>
</html>