<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complaint Form</title>
    <div th:replace="~{fragments/include :: include}"></div>
</head>
<body>
    <section class="section">
        <div class="d-flex justify-content-center mt-4">
            <div class="card w-50">
                <div class="card-body">
                    <h2 style="text-align:center; margin:45px;">တိုင်ကြားစာ</h2>
                    <form th:object="${complaintForm}" method="POST" th:action="@{/api/complaintForm/save}" id="submitForm" enctype="multipart/form-data" class="mx-auto w-75">
                        <div class="row mb-5">
                            <label for="name" class="col-3 form-label">အမည် <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="name" th:field="*{name}">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label class="col-3 form-label pt-0">ကျား / မ <span class="text-danger">*</span></label>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male" th:field="*{gender}">
                                    <label class="form-check-label" for="male">ကျား</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="Female" th:field="*{gender}">
                                    <label class="form-check-label" for="female">မ</label>
                                </div>
                            </div>
                            <span class="text-small text-danger col-auto" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                        </div>
                        <div class="row mb-5">
                            <label for="phone" class="col-3 form-label ">ဖုန်းနံပါတ် <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="phone" th:field="*{phone}">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="email" class="col-3 form-label">အီးမေးလ် <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="email" th:field="*{email}">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>
                        </div>
                        <hr class="mb-5">
                        <div class="row mb-5">
                            <label for="idCardFront" class="col-3 form-label">မှတ်ပုံတင်ဓာတ်ပုံ(ရှေ့) <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input class="file form-control" type="file" th:field="*{idCardFront}" accept="image/*" id="idCardFront">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('idCardFront')}" th:errors="*{idCardFront}"></span>
                                <span class="text-small text-danger" id="idCardFrontError"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="idCardBack" class="col-3 form-label">မှတ်ပုံတင်ဓာတ်ပုံ(နောက်) <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input class="file form-control" type="file" th:field="*{idCardBack}" accept="image/*" id="idCardBack">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('idCardBack')}" th:errors="*{idCardBack}"></span>
                                <span class="text-small text-danger" id="idCardBackError"></span>
                            </div>
                        </div>
                        <hr class="mb-5">
                        <div class="row mb-5">
                            <label for="cityName" class="col-3 form-label">မြို့ <span class="text-danger">*</span></label>
                            <div class="col-6">
                                <select class="form-select" id="cityName" th:field="*{cityName}">
                                    <option value="" selected>ရွေးခြယ်ပါ</option>
                                    <option th:each="c : ${cityNameList}" th:text="${c}" th:value="${c}"></option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="townshipName" class="col-3 form-label">မြို့နယ် <span class="text-danger">*</span></label>
                            <div class="col-6" id="township-select">
                                <select class="form-select" id="townshipName" th:field="*{townshipName}">
                                    <option value="" selected>ရွေးခြယ်ပါ</option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('townshipName')}" th:errors="*{townshipName}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="industrialZoneName" class="col-3 form-label">စက်မှုဇုန် <span class="text-danger">*</span></label>
                            <div class="col-6" id="industrial-zone-select">
                                <select class="form-select" id="industrialZoneName" th:field="*{industrialZoneName}">
                                    <option value="" selected>ရွေးခြယ်ပါ</option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('industrialZoneName')}" th:errors="*{industrialZoneName}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="companyName" class="col-3 form-label">ကုမ္ပဏီ <span class="text-danger">*</span></label>
                            <div class="col-6" id="company-select">
                                <select class="form-select" id="companyName" th:field="*{companyName}">
                                    <option value="" selected>ရွေးခြယ်ပါ</option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                            </div>
                        </div>
                        <hr class="mb-5">
                        <div class="row mb-5">
                            <label for="ecPhoto1" class="col-3 form-label">အလုပ်ခန့်အပ်ခြင်းစာချုပ်ဓာတ်ပုံ(၁)<span class="text-danger">*</span></label>
                            <div class="col-9">
                                <input class="file form-control" type="file" th:field="*{ecPhoto1}" accept="image/*" id="ecPhoto1">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('ecPhoto1')}" th:errors="*{ecPhoto1}"></span>
                                <span class="text-small text-danger" id="ecPhoto1Error"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="ecPhoto2" class="col-3 form-label">အလုပ်ခန့်အပ်ခြင်းစာချုပ်ဓာတ်ပုံ(၂)</label>
                            <div class="col-9">
                                <input class="file form-control" type="file" th:field="*{ecPhoto2}" accept="image/*" id="ecPhoto2">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('ecPhoto2')}" th:errors="*{ecPhoto2}"></span>
                                <span class="text-small text-danger" id="ecPhoto2Error"></span>
                            </div>
                        </div>
                        <hr class="mb-5">
                        <div class="row mb-5">
                            <label for="complaintTitleName" class="col-3 form-label">တိုင်ကြားမှုခေါင်းစဉ် <span class="text-danger">*</span></label>
                            <div class="col-6">
                                <select class="form-select" id="complaintTitleName" th:field="*{complaintTitleName}">
                                    <option value="" selected>ရွေးခြယ်ပါ</option>
                                    <option th:each="c : ${complaintTitleNameList}" th:text="${c}" th:value="${c}"></option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('complaintTitleName')}" th:errors="*{complaintTitleName}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="description" class="col-3 form-label">တိုင်းကြားမည့်အကြောင်းအရာ <span class="text-danger">*</span></label>
                            <div class="col-9 mb-3">
                                <textarea class="form-control" style="height: 100px;" id="description" th:field="*{description}"></textarea>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn" style="background:#49b7bf; color:white;" id="btn-submit">Submit</button>
                            <button type="submit" class="btn" style="background:#f56e70; color:white;" id="btn-reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script th:inline="javascript">

        $(document).ready(function() {

        <!-- Search Boxes in Select Box -->
            var cityName = document.querySelector("#cityName");
            var townshipName = document.querySelector("#townshipName");
            var industrialZoneName = document.querySelector("#industrialZoneName");
            var companyName = document.querySelector("#companyName");
            var complaintTitleName = document.querySelector("#complaintTitleName");
            var township_select = [[${township_select}]] != null ? [[${township_select}]] : "";
            var industrial_zone_select = [[${industrial_zone_select}]] != null ? [[${industrial_zone_select}]] : "";
            var company_select = [[${company_select}]] != null ? [[${company_select}]] : "";
            dselect(cityName, {search: true});
            dselect(townshipName, {search: true});
            dselect(industrialZoneName, {search: true});
            dselect(companyName, {search: true});
            dselect(complaintTitleName, {search: true});
        <!-- End -->

        <!-- When file size is too large -->
            if([[${file_size_exceeded}]]) {
                $.alert({
                    title: 'Warning!',
                    content: 'File Size is too large!',
                    type: 'red'
                });
            }
        <!-- End -->

        <!-- When page is returned with error message for automatically choosing select boxes -->
            var city_name = $("#cityName option:selected").val();
            setTimeout(function() {
                $.ajax({
                    url: "/api/complaintForm/cityToTownship",
                    type: "POST",
                    data: {
                        "cityName" : city_name
                    },
                    success: function(data) {
                        $("#townshipName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#townshipName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }

                            dselect(townshipName, {search: true});
                            if(township_select != "") {
                                $("#submitForm .row #township-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + township_select + ")").click();
                            }
                        }
                        else {
                            dselect(townshipName, {search: true});
                        }

                        setTimeout(function() {
                            $.ajax({
                                url: "/api/complaintForm/townshipToIndustrialZone",
                                type: "POST",
                                data: {
                                    "cityName" : city_name,
                                    "townshipName" : township_select
                                },
                                success: function(data) {
                                    $("#industrialZoneName option[value!='']").remove();

                                    if(data.length != 0) {
                                        for(var i = 0; i < data.length; i++) {
                                            $("#industrialZoneName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                                        }

                                        dselect(industrialZoneName, {search: true});
                                        if(industrial_zone_select != "") {
                                            $("#submitForm .row #industrial-zone-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + industrial_zone_select + ")").click();
                                        }
                                    }
                                    else {
                                        dselect(industrialZoneName, {search: true});
                                    }

                                    setTimeout(function() {
                                        $.ajax({
                                            url: "/api/complaintForm/industrialZoneToCompany",
                                            type: "POST",
                                            data: {
                                                "cityName" : city_name,
                                                "townshipName" : township_select,
                                                "industrialZoneName" : industrial_zone_select
                                            },
                                            success: function(data) {
                                                $("#companyName option[value!='']").remove();

                                                if(data.length != 0) {
                                                    for(var i = 0; i < data.length; i++) {
                                                        $("#companyName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                                                    }

                                                    dselect(companyName, {search: true});
                                                    if(company_select != "") {
                                                        $("#submitForm .row #company-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + company_select + ")").click();
                                                    }
                                                }
                                                else {
                                                    dselect(companyName, {search: true});
                                                }
                                                document.documentElement.scrollTop = 0;
                                                document.activeElement.blur();
                                            }
                                        });
                                    }, 100);
                                }
                            });
                        }, 100);
                    }
                });
            }, 100);
        <!-- End -->

        <!-- When submit button is clicked -->
            $("#btn-submit").click(function(event) {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to submit?',
                    type: 'green',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-success',
                            action: function () {
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When reset button is clicked -->
            $("#btn-reset").on("click", function(e) {
              e.preventDefault();
              window.location = "/api/complaintForm/";
            });
        <!-- End -->

        <!-- When city select box is changed -->
            $("#cityName").change(function() {
                var city_name = $("#cityName option:selected").text();

                $.ajax({
                    url: "/api/complaintForm/cityToTownship",
                    type: "POST",
                    data: {
                        "cityName" : city_name
                    },
                    success: function(data) {
                        $("#townshipName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#townshipName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }
                        }

                        dselect(townshipName, {search: true});
                        $("#industrialZoneName option[value!='']").remove();
                        dselect(industrialZoneName, {search: true});
                        $("#companyName option[value!='']").remove();
                        dselect(companyName, {search: true});
                    }
                });
            });
        <!-- End -->

        <!-- When township select box is changed -->
            $("#townshipName").change(function() {
                var city_name = $("#cityName option:selected").text();
                var township_name = $("#townshipName option:selected").text();

                $.ajax({
                    url: "/api/complaintForm/townshipToIndustrialZone",
                    type: "POST",
                    data: {
                        "cityName" : city_name,
                        "townshipName" : township_name
                    },
                    success: function(data) {
                        $("#industrialZoneName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#industrialZoneName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }
                        }

                        dselect(industrialZoneName, {search: true});
                        $("#companyName option[value!='']").remove();
                        dselect(companyName, {search: true});
                    }
                });
            });
        <!-- End -->

        <!-- When industrial zone select box is changed -->
            $("#industrialZoneName").change(function() {
                var city_name = $("#cityName option:selected").text();
                var township_name = $("#townshipName option:selected").text();
                var industrial_zone_name = $("#industrialZoneName option:selected").text();

                $.ajax({
                    url: "/api/complaintForm/industrialZoneToCompany",
                    type: "POST",
                    data: {
                        "cityName" : city_name,
                        "townshipName" : township_name,
                        "industrialZoneName" : industrial_zone_name
                    },
                    success: function(data) {
                        $("#companyName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#companyName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }
                        }

                        dselect(companyName, {search: true});
                    }
                });
            });
        <!-- End -->

        });

    </script>
</body>
</html>