<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complaint List</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb" id="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/api/complaint/all}">Complaint List</a></li>
                </ol>
                <span id="status" hidden>[[${session.status}]]</span>
            </nav>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/api/complaint/dailyLimit/update}" method="POST" id="dailyLimitForm" th:object="${dailyLimit}" class="mt-4">
                        <div class="row">
                            <label for="dailyLimit" class="form-label mt-1 col-auto">Maximum Daily Limit of Complaints:</label>
                            <input type="number" th:field="*{maxLimit}" class="w-auto col-auto form-control" id="dailyLimit" min="1" max="1000" size="3">
                            <button type="submit" class="btn ms-2 col-auto" style="background:#49b7bf; color:white;">Set</button>
                            <span class="text-small text-danger" th:if="${#fields.hasErrors('maxLimit')}" th:errors="*{maxLimit}"></span>
                        </div>
                    </form>
                    <hr>
                    <h5 style="font-size: 18px; font-weight: 500; color: #012970; font-family: 'Poppins', sans-serif; margin-bottom: 15px">Searching</h5>
                    <form th:action="@{/api/complaint/page}" id="searchForm">
                        <div class="row mb-2">
                            <div class="col-3">
                                <input type="text" id="datepicker" name="date" placeholder="Search by all dates" th:value="${date}" readonly/>
                            </div>
                            <div class="col-3">
                                <select class="form-select" id="companySearch" name="companyName">
                                    <option value="" selected>Search by all companies</option>
                                    <option th:each="c : ${companyNameList}" th:text="${c}" th:value="${c}" th:selected="${c == companyName}"></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select" id="complaintTitleSearch" name="complaintTitleName">
                                    <option value="" selected>Search by all complaint titles</option>
                                    <option th:each="c : ${complaintTitleNameList}" th:text="${c}" th:value="${c}" th:selected="${c == complaintTitleName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn" style="background:#49b7bf; color:white;">Search</button>
                            <button id="btn-reset" class="btn" style="background:#f56e70; color:white;">Reset</button>
                        </div>
                        <hr>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${session.status == 'Trash' && !complaintList.isEmpty}">
                            <strong>Remember!</strong> Complaints that have been in Trash more than 30 days will be automatically deleted. <a id="empty-trash" class="text-primary ms-2" style="cursor: pointer"><b>Empty Trash Now</b></a>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="float-end">
                            <b class="form-label mt-1">Number of Complaints Today:&nbsp;&nbsp;[[${complaintCount}]]</b>
                        </div>
                        <div class="float-end me-5">
                            <b class="form-label mt-1">Maximum Daily Limit of Complaints:&nbsp;&nbsp;[[${limit}]]</b>
                        </div>
                        <h4 class="text-danger mt-5" th:if="${complaintList.isEmpty()}">No record found!</h4>
                        <h5 class="card-title mt-5" th:unless="${complaintList.isEmpty()}">Complaint List</h5>
                        <div class="float-end mb-3" th:unless="${complaintList.isEmpty()}">
                            <label for="pageSize" class="form-label mt-1">Entries per page:&nbsp;&nbsp;</label>
                            <select name="size" th:value="${pageSize}" onchange="this.form.submit()" class="form-select w-auto float-end" id="pageSize">
                                <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                            </select>
                        </div>
                    </form>
                    <div class="btn-group" th:unless="${complaintList.isEmpty()}">
                        <a class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Action</a>
                        <ul class="dropdown-menu" id="dropdown-menu">
                            <li><a class="dropdown-item" id="markAsRead" style="cursor: pointer">Mark as read</a></li>
                            <li><a class="dropdown-item" id="markAsUnread" style="cursor: pointer">Mark as unread</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" id="tempDelete" style="cursor: pointer">Delete</a></li>
                        </ul>
                    </div>
                    <table class="table table-borderless table-responsive table-hover" th:unless="${complaintList.isEmpty()}">
                        <caption>Showing [[${pageSize * (currentPage - 1) + 1}]] to [[${pageSize * (currentPage - 1) + pageSize}]] of Total [[${totalItems}]] Entries</caption>
                        <thead>
                            <tr class="table-dark">
                                <th style="width: 2%"><input type="checkbox" class="form-check-input check-all"/></th>
                                <th style="width: 20%">Employee Name</th>
                                <th style="width: 20%">Company Name</th>
                                <th style="width: 20%">Complaint Title</th>
                                <th style="width: 30%">Description</th>
                                <th style="width: 8%">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="complaint, state : ${complaintList}">
                                <tr th:styleappend="${complaint.readStatus} == 'Unread' ? 'font-weight: bold' : ''" th:classappend="${complaint.readStatus} == 'Unread' ? 'shadow-sm' : 'table-secondary'" class="complaint">
                                    <td th:text="${complaint.id}" hidden></td>
                                    <td><input type="checkbox" class="form-check-input check" name="checkbox"></td>
                                    <td th:text="${complaint.name}"></td>
                                    <td th:text="${complaint.companyName}"></td>
                                    <td th:text="${complaint.complaintTitle}"></td>
                                    <td th:text="${complaint.description}"></td>
                                    <td th:text="${complaint.date}"></td>
                                </tr>
<!--                                class="text-truncate d-inline-block" style="max-width: 200px"-->
                            </th:block>
                        </tbody>
                    </table>
                    <div th:replace="~{fragments/paging :: complaintPagination}" th:unless="${complaintList.isEmpty()}"></div>
                </div>
            </div>
        </section>
    </main>

    <script th:inline="javascript">

        $(document).ready(function() {

        <!-- Make Nav Item Active -->

            $("#sidebar-nav").children("li:nth-child(3)").children("a").removeClass("collapsed");
            $("#status-nav").addClass("show");

            var status = $("#status").html();
            var url = "/api/complaint/" + status.toLowerCase();
            var number;
            switch(status) {
                case "All": number = 1; break;
                case "Trash": number = 2; $("#dropdown-menu").children("li:nth-child(4)").remove(); $("#dropdown-menu").append("<li><a class='dropdown-item' id='restore' style='cursor: pointer'>Restore</a></li>"); break;
                case "Read": number = 4; break;
                case "Unread": number = 5; break;
                case "Accepted": number = 7; break;
                case "Rejected": number = 8; break;
                case "Pending": number = 9; break;
                case "Solved": number = 11; break;
                case "Unsolved": number = 12; break;
                default: number = 1; break;
            }
            $("#status-nav").children("li:nth-child("+ number + ")").children("a").addClass("active");
            $("#breadcrumb").append("<li class='breadcrumb-item'><a href='" + url + "'>" + status + "</a></li>");

        <!-- End -->

        <!-- Placing value in input form of daily limit -->
            var span = $("#dailyLimitForm .row").children("span");
            if(!span.is('span')) {
                $("#dailyLimit").val([[${limit}]]);
            }
        <!-- End -->

        <!-- Search Boxes in Select Box -->
            var companySearch = document.querySelector("#companySearch");
            var complaintTitleSearch = document.querySelector("#complaintTitleSearch");

            dselect(companySearch, {search: true});
            dselect(complaintTitleSearch, {search: true});
        <!-- End -->

        <!-- Alert box after moved to trash -->
            if(localStorage.getItem("tempDeletedStatus")) {
                localStorage.clear();
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Moved to Trash! Please check the trash bin.',
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- Alert box after restore from trash -->
            if(localStorage.getItem("restoreStatus")) {
                localStorage.clear();
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Restored from Trash!',
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- Alert box after empty trash -->
            if(localStorage.getItem("emptyTrash")) {
                localStorage.clear();
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Deleted All from Trash!',
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- Datepicker -->
            $("#datepicker").datepicker({
                uiLibrary: 'bootstrap5',
                format: 'yyyy-mm-dd'
            });
        <!-- End -->

        <!-- Check All Table Function -->
            $("table").TableCheckAll();
        <!-- End -->

        <!-- When setting maximum daily limit -->
            if([[${updated_success}]]) {
                var limit = [[${limit}]] + ' complaint form.';
                if([[${limit}]] > 1) {
                    limit = [[${limit}]] + ' complaint forms.';
                }
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Changed! Now you can accept up to ' + limit,
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- When clicked the specific complaint -->
            $(document).delegate(".complaint", "click", function(event) {
                if(event.target.tagName.toLowerCase() === "td") {
                    var row = $(this);
                    var id = $(this).children("td:nth-child(1)").html();
                    if($(this).hasClass("shadow-sm")) {
                        $.ajax({
                            url: "/api/complaint/changeReadStatus",
                            type: "POST",
                            data: {
                                "id" : id,
                                "status" : true
                            },
                            success: function(data) {
                                row.css("font-weight", "");
                                row.removeClass("shadow-sm").addClass("table-secondary");
                            }
                        });
                    }
                }
            });
        <!-- End -->

        <!-- When mark as read button is clicked -->
            $("#markAsRead").on("click", function(event) {
                $("table tbody tr td input[name='checkbox']:checked").each(function() {
                    var id = $(this).parent().parent().children("td:nth-child(1)").html();
                    var row = $(this).parent().parent();
                    $.ajax({
                        url: "/api/complaint/changeReadStatus",
                        type: "POST",
                        data: {
                            "id" : id,
                            "status" : true
                        },
                        success: function(data) {
                            //row.css("font-weight", "");
                            //row.removeClass("shadow-sm").addClass("table-secondary");
                            location.reload();
                        }
                    });
                });
            });
        <!-- End -->

        <!-- When mark as unread button is clicked -->
            $("#markAsUnread").on("click", function(event) {
                $("table tbody tr td input[name='checkbox']:checked").each(function() {
                    var id = $(this).parent().parent().children("td:nth-child(1)").html();
                    var row = $(this).parent().parent();
                    $.ajax({
                        url: "/api/complaint/changeReadStatus",
                        type: "POST",
                        data: {
                            "id" : id,
                            "status" : false
                        },
                        success: function(data) {
                            //row.css("font-weight", "bold");
                            //row.removeClass("table-secondary").addClass("shadow-sm");
                            location.reload();
                        }
                    });
                });
            });
        <!-- End -->

        <!-- When delete button is clicked -->
            $("#tempDelete").on("click", function(event) {
                $("table tbody tr td input[name='checkbox']:checked").each(function() {
                    var id = $(this).parent().parent().children("td:nth-child(1)").html();
                    $.ajax({
                        url: "/api/complaint/changeTempDeletedStatus",
                        type: "POST",
                        data: {
                            "id" : id,
                            "status" : true
                        },
                        success: function(data) {
                            localStorage.setItem("tempDeletedStatus",true);
                            location.reload();
                        }
                    });
                });
            });
        <!-- End -->

        <!-- When restore button is clicked -->
            $("#restore").on("click", function(event) {
                $("table tbody tr td input[name='checkbox']:checked").each(function() {
                    var id = $(this).parent().parent().children("td:nth-child(1)").html();
                    $.ajax({
                        url: "/api/complaint/changeTempDeletedStatus",
                        type: "POST",
                        data: {
                            "id" : id,
                            "status" : false
                        },
                        success: function(data) {
                            localStorage.setItem("restoreStatus",true);
                            location.reload();
                        }
                    });
                });
            });
        <!-- End -->

        <!-- When reset button is clicked -->
            $("#btn-reset").on("click", function(e) {
                e.preventDefault();
                var pageSize = $("#pageSize").val();
                pageSize = pageSize == undefined ? 5 : pageSize;
                window.location = "/api/complaint/page?date=&companyName=&complaintTitleName=&size=" + pageSize;
            });
        <!-- End -->

        <!-- When empty trash button is clicked -->
            $("#empty-trash").on("click", function(event) {
                event.preventDefault();
                $.confirm({
                    title: 'Confirm!',
                    content: "Are you sure to make trash empty?",
                    type: 'red',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-danger',
                            action: function () {
                                $.ajax({
                                    url: "/api/complaint/emptyTrash",
                                    type: "POST",
                                    success: function(data) {
                                        localStorage.setItem("emptyTrash",true);
                                        location.reload();
                                    }
                                });
                            }
                        },
                        no: function () {}
                    }
                });

            });
        <!-- End -->

        });

    </script>
</body>
</html>