<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/api/company/}">Company</a></li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New / Update</h5>
                    <form th:object="${company}" id="submitForm" method="POST">
                        <div class="row mb-3">
                            <div class="col-3" id="city-select">
                                <label for="cityName" class="form-label">City Name</label>
                                <select class="form-select" id="cityName" th:field="*{cityName}">
                                    <option value="" selected>Choose</option>
                                    <option th:each="c : ${cityNameList}" th:text="${c}" th:value="${c}"></option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"></span>
                            </div>
                            <div class="col-3" id="township-select">
                                <label for="townshipName" class="form-label">Township Name</label>
                                <select class="form-select" id="townshipName" th:field="*{townshipName}">
                                    <option value="" selected>Choose</option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('townshipName')}" th:errors="*{townshipName}"></span>
                            </div>
                            <div class="col-3" id="industrial-zone-select">
                                <label for="industrialZoneName" class="form-label">Industrial Zone Name</label>
                                <select class="form-select" id="industrialZoneName" th:field="*{industrialZoneName}">
                                    <option value="" selected>Choose</option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('industrialZoneName')}" th:errors="*{industrialZoneName}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="companyName" class="form-label">Company Name</label>
                                <input type="text" class="form-control" id="companyName" th:field="*{name}">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-add" style="background:#49b7bf; color:white;">Add</button>
                            <button type="submit" class="btn btn-update" style="background:#49b7bf; color:white;" disabled>Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Searching</h5>
                    <form th:action="@{/api/company/page}" id="searchForm" class="mt-4">
                        <div class="row mb-5">
                            <div class="col-3">
                                <label for="citySearch" class="form-label">City Name</label>
                                <select class="form-select" id="citySearch" name="cityName">
                                    <option value="" selected>Search by all cities</option>
                                    <option th:each="c : ${cityNameList}" th:text="${c}" th:value="${c}" th:selected="${c == cityName}"></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="townshipSearch" class="form-label">Township Name</label>
                                <select class="form-select" id="townshipSearch" name="townshipName">
                                    <option value="" selected>Search by all townships</option>
                                    <option th:each="t : ${townshipNameList}" th:text="${t}" th:value="${t}" th:selected="${t == townshipName}"></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="industrialZoneSearch" class="form-label">Industrial Zone Name</label>
                                <select class="form-select" id="industrialZoneSearch" name="industrialZoneName">
                                    <option value="" selected>Search by all industrial zones</option>
                                    <option th:each="i : ${industrialZoneNameList}" th:text="${i}" th:value="${i}" th:selected="${i == industrialZoneName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-3">
                                <input id="keyword" type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="&#128269; Search by company">
                            </div>
                            <div class="btn-group btn-group-sm col-auto">
                                <button type="submit" class="btn" style="background:#49b7bf; color:white;">Search</button>
                                <button id="btn-reset" class="btn" style="background:#f56e70; color:white;">Reset</button>
                            </div>
                        </div>
                        <hr>
                        <h4 class="text-danger" th:if="${companyList.isEmpty()}">No record found!</h4>
                        <h5 class="card-title float-start" th:unless="${companyList.isEmpty()}">Company List</h5>
                        <div class="float-end mt-2" th:unless="${companyList.isEmpty()}">
                            <label for="pageSize" class="form-label mt-1">Entries per page:&nbsp;&nbsp;</label>
                            <select name="size" th:value="${pageSize}" onchange="this.form.submit()" class="form-select w-auto float-end" id="pageSize">
                                <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                            </select>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover" th:unless="${companyList.isEmpty()}">
                        <caption>Showing [[${pageSize * (currentPage - 1) + 1}]] to [[${pageSize * (currentPage - 1) + pageSize}]] of Total [[${totalItems}]] Entries</caption>
                        <thead>
                            <tr class="table-dark">
                                <th>#</th>
                                <th>Company Name</th>
                                <th>City Name</th>
                                <th>Township Name</th>
                                <th>Industrial Zone Name</th>
                                <th>Action</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="company, state : ${companyList}">
                                <td th:text="${company.id}" hidden></td>
                                <td th:text="${pageSize * (currentPage - 1) + state.index + 1}"></td>
                                <td th:text="${company.name}"></td>
                                <td th:text="${company.industrialZone?.township?.city?.name}"></td>
                                <td th:text="${company.industrialZone?.township?.name}"></td>
                                <td th:text="${company.industrialZone?.name}"></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-edit">Edit</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input status" type="checkbox" role="switch" th:checked="${company.activeStatus}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:replace="~{fragments/paging :: companyPagination}" th:unless="${companyList.isEmpty()}"></div>
                </div>
            </div>
        </section>
    </main>

    <script th:inline="javascript">

        $(document).ready(function() {

        <!-- Make Nav Item Active -->
            $("#sidebar-nav").children("li:nth-child(2)").children("a").removeClass("collapsed");
            $("#settings-nav").addClass("show");
            $("#settings-nav").children("li:nth-child(4)").children("a").addClass("active");
        <!-- End -->

        <!-- Search Boxes in Select Box -->
            var cityName = document.querySelector("#cityName");
            var citySearch = document.querySelector("#citySearch");
            var townshipName = document.querySelector("#townshipName");
            var townshipSearch = document.querySelector("#townshipSearch");
            var industrialZoneName = document.querySelector("#industrialZoneName");
            var industrialZoneSearch = document.querySelector("#industrialZoneSearch");
            var township_select = [[${township_select}]] != null ? [[${township_select}]] : "";
            var industrial_zone_select = [[${industrial_zone_select}]] != null ? [[${industrial_zone_select}]] : "";

            dselect(cityName, {search: true});
            dselect(townshipName, {search: true});
            dselect(industrialZoneName, {search: true});

            if(citySearch != null) {
                dselect(citySearch, {search: true});
            }
            if(townshipSearch != null) {
                dselect(townshipSearch, {search: true});
            }
            if(industrialZoneSearch != null) {
                dselect(industrialZoneSearch, {search: true});
            }
        <!-- End -->

        <!-- When page is returned with error message for automatically choosing select boxes -->
            var city_name = $("#cityName option:selected").val();
            setTimeout(function() {
                $.ajax({
                    url: "/api/company/cityToTownship",
                    type: "POST",
                    data: {
                        "cityName" : city_name
                    },
                    success: function(data) {
                        $("#townshipName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#townshipName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }

                            dselect(townshipName, {search: true});
                            if(township_select != "") {
                                $("#submitForm .row #township-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + township_select + ")").click();
                            }
                        }
                        else {
                            dselect(townshipName, {search: true});
                        }

                        setTimeout(function() {
                            $.ajax({
                                url: "/api/company/townshipToIndustrialZone",
                                type: "POST",
                                data: {
                                    "cityName" : city_name,
                                    "townshipName" : township_select
                                },
                                success: function(data) {
                                    $("#industrialZoneName option[value!='']").remove();

                                    if(data.length != 0) {
                                        for(var i = 0; i < data.length; i++) {
                                            $("#industrialZoneName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                                        }

                                        dselect(industrialZoneName, {search: true});
                                        if(industrial_zone_select != "") {
                                            $("#submitForm .row #industrial-zone-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + industrial_zone_select + ")").click();
                                        }
                                    }
                                    else {
                                        dselect(industrialZoneName, {search: true});
                                    }
                                    document.documentElement.scrollTop = 0;
                                    document.activeElement.blur();
                                    $("#companyName").focus();
                                }
                            });
                        }, 100);
                    }
                });
            }, 100);

        <!-- End -->

        <!-- Alert Boxes -->
            if([[${added_success}]]) {
                iziToast.success({
                    message: 'Successfully Added!',
                    position: 'topCenter'
                });
            }

            if([[${updated_success}]]) {
                iziToast.success({
                    color: 'blue',
                    message: 'Successfully Updated!',
                    position: 'topCenter'
                });
            }

            if([[${active_status_success}]]) {
                iziToast.success({
                    message: 'This company is active now!',
                    position: 'topCenter'
                });
            }

            if([[${inactive_status_success}]]) {
                iziToast.warning({
                    message: 'This company is inactive now!',
                    position: 'topCenter'
                });
            }

            if([[${company_not_found}]]) {
                iziToast.error({
                    color: 'red',
                    title: 'Failed!',
                    message: 'This company is not found!',
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- When add button is clicked -->
            $(".btn-add").click(function(event) {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to add?',
                    type: 'green',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-success',
                            action: function () {
                                $("#submitForm").prop("action", "/api/company/add");
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When edit button is clicked -->
            $(document).delegate(".btn-edit", "click", function(event) {
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();
                var company_name = parent.children("td:nth-child(3)").html();
                var city_name = parent.children("td:nth-child(4)").html();
                var township_name = parent.children("td:nth-child(5)").html();
                var industrial_zone_name = parent.children("td:nth-child(6)").html();

                $("#companyName").val(company_name);

                if(city_name == "") {
                    $("#submitForm .row #city-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains('Choose')").click();
                    township_name = "";
                }
                else {
                    $("#submitForm .row #city-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + city_name + ")").click();
                }

                setTimeout(function() {
                    $.ajax({
                        url: "/api/company/cityToTownship",
                        type: "POST",
                        data: {
                            "cityName" : city_name
                        },
                        success: function(data) {
                            $("#townshipName option[value!='']").remove();

                            if(data.length != 0) {
                                for(var i = 0; i < data.length; i++) {
                                    $("#townshipName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                                }

                                dselect(townshipName, {search: true});

                                if(township_name == "") {
                                    $("#submitForm .row #township-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains('Choose')").click();
                                }
                                else {
                                    $("#submitForm .row #township-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + township_name + ")").click();
                                }
                            }
                            else {
                                dselect(townshipName, {search: true});
                            }

                            setTimeout(function() {
                                $.ajax({
                                    url: "/api/company/townshipToIndustrialZone",
                                    type: "POST",
                                    data: {
                                        "cityName" : city_name,
                                        "townshipName" : township_name
                                    },
                                    success: function(data) {
                                        $("#industrialZoneName option[value!='']").remove();

                                        if(data.length != 0) {
                                            for(var i = 0; i < data.length; i++) {
                                                $("#industrialZoneName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                                            }

                                            dselect(industrialZoneName, {search: true});

                                            if(industrial_zone_name == "") {
                                                $("#submitForm .row #industrial-zone-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains('Choose')").click();
                                            }
                                            else {
                                                $("#submitForm .row #industrial-zone-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + industrial_zone_name + ")").click();
                                            }
                                        }
                                        else {
                                            dselect(industrialZoneName, {search: true});
                                        }

                                        document.documentElement.scrollTop = 0;
                                        document.activeElement.blur();
                                        $("#companyName").focus();
                                    }
                                });
                            }, 100);
                        }
                    });
                }, 100);

                $(".btn-update").prop("disabled", false);
                $(".btn-update").append("<span hidden>" + id + "</span>");
            });
        <!-- End -->

        <!-- When update button is clicked -->
            $(".btn-update").click(function() {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to update?',
                    type: 'blue',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-info text-white',
                            action: function () {
                                var id = $(".btn-update").children("span").html();
                                $("#submitForm").prop("action", "/api/company/update/" + id);
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When status button is clicked -->
            $(document).delegate(".status", "change", function() {
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();

                if($(this).is(':checked')) {
                    window.location = "/api/company/status/1/" + id;
                }
                else {
                    window.location = "/api/company/status/0/" + id;
                }
            });
        <!-- End -->

        <!-- When reset button is clicked -->
            $("#btn-reset").on("click", function(e) {
                e.preventDefault();
                var pageSize = $("#pageSize").val();
                pageSize = pageSize == undefined ? 5 : pageSize;
                window.location = "/api/company/page?cityName=&townshipName=&industrialZoneName=&keyword=&size=" + pageSize;
            });
        <!-- End -->

        <!-- When city select box is changed -->
            $("#cityName").change(function() {
                var city_name = $("#cityName option:selected").text();

                $.ajax({
                    url: "/api/company/cityToTownship",
                    type: "POST",
                    data: {
                        "cityName" : city_name
                    },
                    success: function(data) {
                        $("#townshipName option[value!='']").remove();
                        $("#industrialZoneName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#townshipName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }
                        }

                        dselect(townshipName, {search: true});
                        $("#industrialZoneName option[value!='']").remove();
                        dselect(industrialZoneName, {search: true});
                    }
                });
            });
        <!-- End -->

        <!-- When township select box is changed -->
            $("#townshipName").change(function() {
                var city_name = $("#cityName option:selected").text();
                var township_name = $("#townshipName option:selected").text();

                $.ajax({
                    url: "/api/company/townshipToIndustrialZone",
                    type: "POST",
                    data: {
                        "cityName" : city_name,
                        "townshipName" : township_name
                    },
                    success: function(data) {
                        $("#industrialZoneName option[value!='']").remove();

                        if(data.length != 0) {
                            for(var i = 0; i < data.length; i++) {
                                $("#industrialZoneName").append(`<option value="${data[i].name}">${data[i].name}</option>`);
                            }
                        }

                        dselect(industrialZoneName, {search: true});
                    }
                });
            });
        <!-- End -->

        });

    </script>
</body>
</html>