<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complaint Title</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/api/complaintTitle/}">Complaint Title</a></li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New / Update</h5>
                    <form th:object="${complaintTitle}" id="submitForm" method="POST">
                        <div class="row">
                            <div class="col-3">
                                <label for="complaintTitle" class="form-label">Complaint Title Name</label>
                                <input type="text" class="form-control" id="complaintTitle" th:field="*{name}">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-add" style="background:#49b7bf; color:white;">Add</button>
                            <button type="submit" class="btn btn-update" style="background:#49b7bf; color:white;" disabled>Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Searching</h5>
                    <form th:action="@{/api/complaintTitle/page}" id="searchForm" class="mt-4">
                        <div class="row mb-4">
                            <div class="col-3">
                                <input id="keyword" type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="&#128269; Search by complaint title">
                            </div>
                            <div class="btn-group btn-group-sm col-auto">
                                <button type="submit" class="btn" style="background:#49b7bf; color:white;">Search</button>
                                <button id="btn-reset" class="btn" style="background:#f56e70; color:white;">Reset</button>
                            </div>
                        </div>
                        <hr>
                        <h4 class="text-danger" th:if="${complaintTitleList.isEmpty()}">No record found!</h4>
                        <h5 class="card-title float-start" th:unless="${complaintTitleList.isEmpty()}">Complaint Title List</h5>
                        <div class="float-end mt-2" th:unless="${complaintTitleList.isEmpty()}">
                            <label for="pageSize" class="form-label mt-1">Entries per page:&nbsp;&nbsp;</label>
                            <select name="size" th:value="${pageSize}" onchange="this.form.submit()" class="form-select w-auto float-end" id="pageSize">
                                <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                            </select>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover" th:unless="${complaintTitleList.isEmpty()}">
                        <caption>Showing [[${pageSize * (currentPage - 1) + 1}]] to [[${pageSize * (currentPage - 1) + pageSize}]] of Total [[${totalItems}]] Entries</caption>
                        <thead>
                            <tr class="table-dark">
                                <th>#</th>
                                <th>Complaint Title Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="complaintTitle, state : ${complaintTitleList}">
                                <td th:text="${complaintTitle.id}" hidden></td>
                                <td th:text="${pageSize * (currentPage - 1) + state.index + 1}"></td>
                                <td th:text="${complaintTitle.name}"></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-edit">Edit</button>
                                        <button type="button" class="btn btn-delete">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:replace="~{fragments/paging :: complaintTitlePagination}" th:unless="${complaintTitleList.isEmpty()}"></div>
                </div>
            </div>
        </section>
    </main>

    <script th:inline="javascript">

        $(document).ready(function() {

        <!-- Make Nav Item Active -->
            $("#sidebar-nav").children("li:nth-child(2)").children("a").removeClass("collapsed");
            $("#settings-nav").addClass("show");
            $("#settings-nav").children("li:nth-child(5)").children("a").addClass("active");
        <!-- End -->

        <!-- Alert Boxes -->
            if([[${added_success}]]) {
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Added!',
                    position: 'topCenter'
                });
            }

            if([[${updated_success}]]) {
                iziToast.success({
                    color: 'blue',
                    title: 'Done',
                    message: 'Successfully Updated!',
                    position: 'topCenter'
                });
            }

            if([[${deleted_success}]]) {
                iziToast.success({
                    color: 'red',
                    title: 'Done',
                    message: 'Successfully Deleted!',
                    position: 'topCenter'
                });
            }

            if([[${complaint_title_not_found}]]) {
                iziToast.error({
                    color: 'red',
                    title: 'Failed!',
                    message: 'This complaint title is not found!',
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- When add button is clicked -->
            $(".btn-add").click(function(event) {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to add?',
                    type: 'green',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-success',
                            action: function () {
                                $("#submitForm").prop("action", "/api/complaintTitle/add");
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When edit button is clicked -->
            $(document).delegate(".btn-edit", "click", function() {
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();
                var complaint_title = parent.children("td:nth-child(3)").html();

                $("#complaintTitle").val(complaint_title);
                $(".btn-update").prop("disabled", false);
                $(".btn-update").append("<span hidden>" + id + "</span>");
                document.documentElement.scrollTop = 0;
                document.activeElement.blur();
                $("#complaintTitle").focus();
            });
        <!-- End -->

        <!-- When update button is clicked -->
            $(".btn-update").click(function() {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to update?',
                    type: 'blue',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-info text-white',
                            action: function () {
                                var id = $(".btn-update").children("span").html();
                                $("#submitForm").prop("action", "/api/complaintTitle/update/" + id);
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When delete button is clicked -->
            $(document).delegate(".btn-delete", "click", function() {
                event.preventDefault();
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();

                $.confirm({
                    title: 'Confirm!',
                    content: "Are you sure to delete?",
                    type: 'red',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-danger',
                            action: function () {
                                window.location = "/api/complaintTitle/delete/" + id;
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When reset button is clicked -->
            $("#btn-reset").on("click", function(e) {
                e.preventDefault();
                var pageSize = $("#pageSize").val();
                pageSize = pageSize == undefined ? 5 : pageSize;
                window.location = "/api/complaintTitle/page?keyword=&size=" + pageSize;
            });
        <!-- End -->

        });

      </script>
</body>
</html>