<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VLCA</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <script th:inline="javascript">
        $(document).ready(function() {

        <!-- Make Nav Item Active -->
            $("#sidebar-nav").children("li:nth-child(1)").children("a").removeClass("collapsed");
        <!-- End -->

        });

    </script>
</body>
</html>