<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Township List</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/api/township/}">Township</a></li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New / Update</h5>
                    <form th:object="${township}" id="submitForm" method="POST">
                        <div class="row">
                            <div class="col-3" id="city-select">
                                <label for="cityName" class="form-label">City Name</label>
                                <select class="form-select" id="cityName" th:field="*{cityName}">
                                    <option value="" selected>Choose</option>
                                    <option th:each="c : ${cityNameList}" th:text="${c}" th:value="${c}"></option>
                                </select>
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"></span>
                            </div>
                            <div class="col-3">
                                <label for="townshipName" class="form-label">Township Name</label>
                                <input type="text" class="form-control" id="townshipName" th:field="*{name}">
                                <span class="text-small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-add" style="background:#49b7bf; color:white;">Add</button>
                            <button type="submit" class="btn btn-update" style="background:#49b7bf; color:white;" disabled>Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Searching</h5>
                    <form th:action="@{/api/township/page}" id="searchForm" class="mt-4">
                        <div class="row mb-4">
                            <div class="col-3">
                                <select class="form-select" id="citySearch" name="cityName">
                                    <option value="" selected>Search by all cities</option>
                                    <option th:each="c : ${cityNameList}" th:text="${c}" th:value="${c}" th:selected="${c == cityName}"></option>
                                </select>
                            </div>
                            <div class="col-3">
                                <input id="keyword" type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="&#128269; Search by township">
                            </div>
                            <div class="btn-group btn-group-sm col-auto">
                                <button type="submit" class="btn" style="background:#49b7bf; color:white;">Search</button>
                                <button id="btn-reset" class="btn" style="background:#f56e70; color:white;">Reset</button>
                            </div>
                        </div>
                        <hr>
                        <h4 class="text-danger" th:if="${townshipList.isEmpty()}">No record found!</h4>
                        <h5 class="card-title float-start" th:unless="${townshipList.isEmpty()}">Township List</h5>
                        <div class="float-end mt-2" th:unless="${townshipList.isEmpty()}">
                            <label for="pageSize" class="form-label mt-1">Entries per page:&nbsp;&nbsp;</label>
                            <select name="size" th:value="${pageSize}" onchange="this.form.submit()" class="form-select w-auto float-end" id="pageSize">
                                <option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                            </select>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover" th:unless="${townshipList.isEmpty()}">
                        <caption>Showing [[${pageSize * (currentPage - 1) + 1}]] to [[${pageSize * (currentPage - 1) + pageSize}]] of Total [[${totalItems}]] Entries</caption>
                        <thead>
                            <tr class="table-dark">
                                <th>#</th>
                                <th>Township Name</th>
                                <th>City Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="township, state : ${townshipList}">
                                <td th:text="${township.id}" hidden></td>
                                <td th:text="${pageSize * (currentPage - 1) + state.index + 1}"></td>
                                <td th:text="${township.name}"></td>
                                <td th:text="${township.city?.name}"></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-edit">Edit</button>
                                        <button type="button" class="btn btn-delete">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:replace="~{fragments/paging :: townshipPagination}" th:unless="${townshipList.isEmpty()}"></div>
                </div>
            </div>
        </section>
    </main>

    <script th:inline="javascript">

        $(document).ready(function() {

        <!-- Search Boxes in Select Dropdown -->
            var cityName = document.querySelector("#cityName");
            var citySearch = document.querySelector("#citySearch");

            dselect(cityName, {search: true});

            if(citySearch != null) {
                dselect(citySearch, {search: true});
            }
        <!-- End -->

        <!-- Alert Boxes -->
            if([[${added_success}]]) {
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Added!',
                    position: 'topCenter'
                });
            }

            if([[${updated_success}]]) {
                iziToast.success({
                    color: 'blue',
                    title: 'Done',
                    message: 'Successfully Updated!',
                    position: 'topCenter'
                });
            }

            if([[${deleted_success}]]) {
                iziToast.success({
                    color: 'red',
                    title: 'Done',
                    message: 'Successfully Deleted!',
                    position: 'topCenter'
                });
            }

            if([[${township_not_found}]]) {
                iziToast.error({
                    color: 'red',
                    title: 'Failed!',
                    message: 'This township is not found!',
                    position: 'topCenter'
                });
            }
        <!-- End -->

        <!-- When add button is clicked -->
            $(".btn-add").click(function(event) {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to add?',
                    type: 'green',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-success',
                            action: function () {
                                $("#submitForm").prop("action", "/api/township/add");
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When edit button is clicked -->
            $(document).delegate(".btn-edit", "click", function() {
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();
                var township_name = parent.children("td:nth-child(3)").html();
                var city_name = parent.children("td:nth-child(4)").html();

                $("#townshipName").val(township_name);

                if(city_name == "") {
                    $("#submitForm .row #city-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains('Choose')").click();
                }
                else {
                    $("#submitForm .row #city-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + city_name + ")").click();
                }

                $(".btn-update").prop("disabled", false);
                $(".btn-update").append("<span hidden>" + id + "</span>");
                document.documentElement.scrollTop = 0;
                document.activeElement.blur();
                $("#townshipName").focus();
            });
        <!-- End -->

        <!-- When update button is clicked -->
            $(".btn-update").click(function() {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to update?',
                    type: 'blue',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-info text-white',
                            action: function () {
                                var id = $(".btn-update").children("span").html();
                                $("#submitForm").prop("action", "/api/township/update/" + id);
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When delete button is clicked -->
            $(document).delegate(".btn-delete", "click", function() {
                event.preventDefault();
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();

                $.confirm({
                    title: 'Confirm!',
                    content: "Are you sure to delete?",
                    type: 'red',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-danger',
                            action: function () {
                                window.location = "/api/township/delete/" + id;
                            }
                        },
                        no: function () {}
                    }
                });
            });
        <!-- End -->

        <!-- When reset button is clicked -->
            $("#btn-reset").on("click", function(e) {
                e.preventDefault();
                var pageSize = $("#pageSize").val();
                pageSize = pageSize == undefined ? 5 : pageSize;
                window.location = "/api/township/page?cityName=&keyword=&size=" + pageSize;
            });
        <!-- End -->

        });

    </script>
</body>
</html>