<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Township List</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="mx-1">Welcome</span></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/api/township/}">Township</a></li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row align-items-top">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">New/Update</h5>
                            <form th:object="${township}" id="submitForm" method="POST">
                                <div class="row mb-3">
                                    <label for="cityName" class="col-2 col-form-label">City Name</label>
                                    <div class="col-3" id="city-select">
                                        <select class="form-select" id="cityName" th:field="*{cityName}">
                                            <option value="" selected>--- Choose ---</option>
                                            <option th:each="c : ${cityList}" th:text="${c.name}" th:value="${c.name}"></option>
                                        </select>
                                        <span class="text-small text-danger" th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"></span>
                                    </div>
                                    <label for="township-name" class="col-2 col-form-label">Township Name</label>
                                    <div class="col-3">
                                        <input type="text" class="form-control" id="township-name" th:field="*{name}">
                                        <span class="text-small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>
                                </div>
                                <div style="float: right; margin-top: 20px">
                                    <button type="submit" class="btn btn-add" style="background:#49b7bf; color:white;">Add</button>
                                    <button type="submit" class="btn btn-update mx-2" style="background:#49b7bf; color:white;" disabled>Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-danger" th:if="${townshipList.isEmpty()}">No record found!</h5>
                            <h5 class="card-title">Township List</h5>
                            <hr>
                            <form th:action="@{/api/township/page}" id="searchForm" class="mt-4">
                                <div class="row mb-4">
                                    <label for="citySearch" class="col-2 col-form-label">City Name</label>
                                    <div class="col-3">
                                        <select class="form-select" id="citySearch" name="cityName">
                                            <option value="" selected>-- Choose for Searching --</option>
                                            <option th:each="c : ${cityList}" th:text="${c.name}" th:value="${c.name}" th:selected="${c.name == cityName}"></option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <div class="input-group">
                                            <input id="keyword" type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="&#128269; Search by township name">
                                            <button type="submit" class="btn" style="background:#49b7bf; color:white; margin-right: 20px">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="pageSize">Items per page:</label>
                                    <select name="size" th:value="${pageSize}" onchange="this.form.submit()" class="form-select" id="pageSize" style="width: auto; margin-left: 20px; margin-right: 20px; display: inline">
                                        <option th:each="s : ${ {5, 10, 15} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                                    </select>
                                    <button id="btnClear" class="btn" style="background:#f56e70; color:white;">Clear</button>
                                </div>
                            </form>
                            <hr>
                            <table class="table table-bordered" style="margin-top: 40px" th:if="${totalPages > 0}">
                                <thead>
                                <tr style="background:#f5f7f6;">
                                    <th>#</th>
                                    <th>Township Name</th>
                                    <th>City Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="township, state : ${townshipList}">
                                    <td th:text="${township.id}" hidden></td>
                                    <td th:text="${pageSize * (currentPage - 1) + state.index + 1}"></td>
                                    <td th:text="${township.name}"></td>
                                    <td th:text="${township.city.name}"></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-edit">Edit</button>
                                            <a class="btn btn-delete">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <span th:if="${totalPages > 0}">Showing [[${pageSize * (currentPage - 1) + 1}]] to [[${pageSize * (currentPage - 1) + pageSize}]] of Total [[${totalItems}]] Entries</span>
                            <div th:replace="~{fragments/paging :: townshipPagination}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
    </footer><!-- End Footer -->
    <script th:inline="javascript">

        $(document).ready(function() {

            <!-- Search Boxes in Select Dropdown -->
            var cityName = document.querySelector("#cityName");
            var citySearch = document.querySelector("#citySearch");
            dselect(cityName, {search: true});
            dselect(citySearch, {search: true});
            <!-- End -->

            <!-- Alert Boxes -->
            if([[${added_success}]]) {
                iziToast.success({
                    title: 'Done',
                    message: 'Successfully Added!',
                    position: 'topCenter'
                });
            }

            if([[${updated_success}]]) {
                iziToast.success({
                    color: 'blue',
                    title: 'Done',
                    message: 'Successfully Updated!',
                    position: 'topCenter'
                });
            }

            if([[${deleted_success}]]) {
                iziToast.success({
                    color: 'red',
                    title: 'Done',
                    message: 'Successfully Deleted!',
                    position: 'topCenter'
                });
            }

            if([[${deleted_fail}]]) {
               iziToast.error({
                    color: 'red',
                    title: 'Failed!',
                    message: 'Please delete all industrial zones included in this township first.',
                    position: 'topCenter'
                });
            }

            if([[${township_not_found}]]) {
                iziToast.error({
                    color: 'red',
                    title: 'Failed!',
                    message: 'This township is not found!',
                    position: 'topCenter'
                });
            }
            <!-- End -->

            <!-- When add button is clicked -->
            $(".btn-add").click(function(event) {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to add?',
                    type: 'green',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-success',
                            action: function () {
                                $("#submitForm").prop("action", "/api/township/add");
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
            <!-- End -->

            <!-- When edit button is clicked -->
            $(document).delegate(".btn-edit", "click", function() {
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();
                var township_name = parent.children("td:nth-child(3)").html();
                var city_name = parent.children("td:nth-child(4)").html();

                $("#township-name").val(township_name);
                $("#submitForm .row #city-select .dselect-wrapper .dropdown-menu .d-flex .dselect-items button:contains(" + city_name + ")").click();
                $(".btn-update").prop("disabled", false);
                $(".btn-update").append("<span hidden>" + id + "</span>");
                $("#township-name").focus();
            });
            <!-- End -->

            <!-- When update button is clicked -->
            $(".btn-update").click(function() {
                event.preventDefault();

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure to update?',
                    type: 'blue',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-info text-white',
                            action: function () {
                                var id = $(".btn-update").children("span").html();
                                $("#submitForm").prop("action", "/api/township/update/" + id);
                                $("#submitForm").submit();
                            }
                        },
                        no: function () {}
                    }
                });
            });
            <!-- End -->

            <!-- When delete button is clicked -->
            $(document).delegate(".btn-delete", "click", function() {
                event.preventDefault();
                var parent = $(this).parent().parent().parent();
                var id = parent.children("td:nth-child(1)").html();

                $.confirm({
                    title: 'Confirm!',
                    content: "Are you sure to delete?",
                    type: 'red',
                    autoClose: 'no|10000',
                    buttons: {
                        yes: {
                            btnClass: 'btn-danger',
                            action: function () {
                                window.location = "/api/township/delete/" + id;
                            }
                        },
                        no: function () {}
                    }
                });
            });
            <!-- End -->

            <!-- When clear button is clicked -->
            $("#btnClear").on("click", function(e) {
              e.preventDefault();
              window.location = "/api/township/";
            });
            <!-- End -->

        });

    </script>
</body>
</html>