<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Edit Form</title>
    <div th:replace="~{fragments/include :: include}"></div>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/dashboard}"><i class="fa-solid fa-house"></i><span class="ms-1">Welcome</span></a>
                </li>
                <li class="breadcrumb-item"><a th:href="@{/api/city/list}">City</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/api/city/edit/' + ${city.id}}">Edit</a></li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">City Edit Form</h5>
                <form th:object="${city}" th:action="@{/api/city/edit}" id="submitForm" method="POST">
                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <input type="hidden" th:value="*{id}" th:field="*{id}">
                            <label for="cityName" class="form-label">City Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="cityName" th:value="*{name}" th:field="*{name}">
                            <span class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="d-grid gap-2 d-flex justify-content-end">
                                <button type="submit" class="btn btn-update" style="background:#49b7bf; color:white;">Update
                                </button>
                                <a th:href="@{'/api/city/edit/' + ${city.id}}" class="btn"
                                   style="background:#f56e70; color:white;">Reset</a>
                                <a th:href="@{'/api/city/list?keyword=' + ${#ctx.session.keyword} + '&pageNum=' + ${#ctx.session.pageNum} + '&pageSize=' + ${#ctx.session.pageSize}}" class="btn" style="background:orange; color:white;">Back</a>
                            </div>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script th:inline="javascript">
    $(document).ready(function() {

    <!-- Make Nav Item Active -->
        $("#sidebar-nav").children("li:nth-child(2)").children("a").removeClass("collapsed");
        $("#settings-nav").addClass("show");
        $("#settings-nav").children("li:nth-child(1)").children("a").addClass("active");
    <!-- End -->

    <!-- Alert Boxes -->
        if([[${city_not_found}]]) {
            iziToast.error({
                color: 'red',
                title: 'Failed!',
                message: 'This city is not found!',
                position: 'topCenter'
            });
        }
    <!-- End -->

    <!-- When update button is clicked -->
        $(".btn-update").click(function() {
            event.preventDefault();

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to update?',
                type: 'blue',
                autoClose: 'no|10000',
                buttons: {
                    yes: {
                        btnClass: 'btn-info text-white',
                        action: function () {
                            $("#submitForm").submit();
                        }
                    },
                    no: function () {}
                }
            });
        });
    <!-- End -->

    });
</script>
</body>
</html>